body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}


:root {
  --main-color-white: #ffffff;
  --main-color-black: #000000;
  --text-color-pink: #d41443;
  --background-color-pink: #ffb8ca;
  --btn-color-pink: #d41342;
  --main-gap: 32px;
}


html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
}

ul,
ol,
li,
a,
span,
p {
  margin: 0;
  padding-left: 0;
  text-decoration: none;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
