<section class="section advantages">
    <div class="container">
        <h2 class="visually-hidden">advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <img class="advantages__img" src="/images/icon1.png" alt="">
                <h3 class="advantages__number">721</h3>
                <p lang="en" class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__item">
                <img class="advantages__img" src="/images/icon2.png" alt="">
                <h3 class="advantages__number">16kg</h3>
                <p lang="en" class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__item">
                <img class="advantages__img" src="/images/icon3.png" alt="">
                <h3 class="advantages__number">84</h3>
                <p lang="en" class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>