<header class="header">
    <div class="container container--mob"></div>
    <div class="container container--head">
        <a href="" class="logo">
            <img src="../images/logo.svg" alt="">
        </a>
        <nav class="navigate">
            <ul class=" list-navigate list">
                <li class="list-navigate__item ">
                    <a href="" class="list-navigate__link link link--current">Home</a>
                </li>
                <li class="list-navigate__item ">
                    <a href="" class="list-navigate__link link">About us</a>
                </li>
                <li class="list-navigate__item ">
                    <a href="" class="list-navigate__link link">How it’s made?</a>
                </li>
                <li class="list-navigate__item ">
                    <a href="" class="list-navigate__link link">Our products</a>
                </li>
                <li class="list-navigate__item ">
                    <a href="" class="list-navigate__link link">Contact</a>
                </li>
            </ul>
        </nav>
        <button class="btn" type="button">Buy now</button>
    </div>
</header>