<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Заголовок страницы</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
        integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
        crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&family=Titan+One&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="./sass/main.scss" />
</head>

<body>
<!-- ========  section Products - start ======= -->
<!-- section Products - start -->
<sectiom class="prodacts">
    <div class="container-prodacts">
        <label class="sign">
            <span class="sign--hidden">100% natural</span>
        </label>
        <h2 class="prodacts-title">products</h2>
        <!-- ===== CARD LIST - start ======= -->
        <!-- card 1 - start -->
        <ul class="prodacts-card__list">
            <li class="prodacts-card__item">
                <div class="ice-cream">
                    <h3 class="prodacts-card__title">ice cream</h3>
                    <p class="prodacts-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et.</p>
                </div>
                <button class="prodacts__button" type="button">
                    <svg class="button-svg" width="15" height="15">
                        <use class="icon-arrow" href="./images/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            <!-- card 1 - end -->
            <!-- card 2 - start -->
            <li class="prodacts-card__item">

                <h3 class="prodacts-card__title">ice cream</h3>
                <p class="prodacts-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut labore et.</p>
                <button class="prodacts__button" type="button">
                    <svg class="button-svg" width="15" height="15">
                        <use class="icon-arrow" href="./images/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            <!-- card 2 - end -->
            <!-- card 3 - start -->
            <li class="prodacts-card__item">

                <h3 class="prodacts-card__title">ice cream</h3>
                <p class="prodacts-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et.</p>
                <button class="prodacts__button" type="button">
                    <svg class="button-svg" width="15" height="15">
                        <use class="icon-arrow" href="./images/icon.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            <!-- card 3 - end -->
        </ul>
        <!-- ===== CARD LIST - End ======= -->
    </div>
</sectiom>
<!-- ========  section Products - End ======= -->
</body>
</html>