.gallery {
    max-width: 100%;
    height: 122px;
    background-color: #fff;
    background-image: linear-gradient(
        to bottom,
        #FFF5F6 0%,
        #FFF5F6 40%,
        #fff 40%,
        #fff 100%

    );
}
